<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workroute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/work_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/work_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkRoute"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.AppInformation"
            android:exported="false" />
        <activity
            android:name=".activitys.HowToUseWorkRoute"
            android:exported="false" />
        <activity
            android:name=".profile.ActiveSubscriptions"
            android:exported="false" />
        <activity
            android:name=".initActivities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".profile.Personal_information"
            android:exported="false"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".driverActivities.AddDriverInformation"
            android:exported="false" />
        <activity
            android:name=".activitys.CustomerMap"
            android:exported="false" />
        <activity
            android:name=".driverActivities.DriverMap"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activitys.PayMethod"
            android:exported="false" />
        <activity
            android:name=".driverActivities.DrivingLicense"
            android:exported="false" />
        <activity
            android:name=".kotlin.activities.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.activities.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.GeneralSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".notifications.Notifications"
            android:exported="false" />
        <activity
            android:name=".profile.Profile"
            android:exported="false" />
        <activity
            android:name=".initActivities.FirstTimeActivity"
            android:exported="false" />
        <activity
            android:name=".initActivities.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".initActivities.ConfirmLogin"
            android:exported="false" />
        <activity
            android:name=".initActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".initActivities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.ServicioOnline"
            android:exported="false" />
    </application>

</manifest>